<div class=>
    <div class="flex justify-between bg-gray-900 px-10 py-5">
        <div class="text-white">LOGO</div>
        <i class="fa-regular fa-circle-user text-white"></i>
    </div>
    <div class="bg-[url('bg-flor.jpg')] bg-cover bg-center h-screen">
        <div class="p-10 flex gap-10">
            <% @lists.each do |list|%>
                <div class="w-[300px] bg-gray-900 rounded-xl shadow-sm">
                    <div class="p-5">
                        <h1 class="mb-5 text-white"><%= list.name %></h1>
                        <% @cards.each do |card| %>
                            <% if card.list_id == list.id %>
                                <div class="w-full h-[130px] bg-gray-700 rounded-xl mb-5 p-5">
                                    <h2 class="mb-2 text-white font-bold"><%= card.title %></h2>
                                    <p class="bg-rose-500 rounded-sm text-sm pl-2 font-bold shadow-md">ORGANIZING THINGS</p>
                                    <div class="flex justify-between mt-3">
                                        <i class="fa-solid fa-angles-up text-white"></i>
                                        <p class="text-white">Jul 13</p>
                                        <i class="fa-regular fa-circle-user text-white"></i>
                                    </div>
                                </div>
                            <% end %>
                        <%end%>
                        <h1 class="text-white">+ Add a card</h1>
                    </div>
                </div>
            <% end%>
        </div>
    </div>
</div>