/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
    outline: 1px solid red !important;
    margin: 0 !important;
  } */

  @import "font-awesome";

  details {
    position: relative; /* Para que o conteúdo seja posicionado em relação ao botão */
}

summary {
  list-style: none; /* Remove a bolinha do summary */
  appearance: none; /* Remove a seta padrão do browser */
  -webkit-appearance: none; /* Remove a seta em navegadores WebKit (Chrome, Safari) */
  -moz-appearance: none; /* Remove a seta no Firefox */
}

ul {
    position: absolute; /* Posição fixa em relação ao <details> */
    top: 100%; /* Coloca a lista logo abaixo do botão */
    left: 0;
    margin: 0;
    padding: 4px;
    list-style: none;
    display: none; /* Esconde o conteúdo por padrão */
    background-color: #111827;
    color: white;
    border: 1px solid #5b5b5b;
    border-radius: 5px;
}

details[open] ul {
    display: block; /* Mostra o conteúdo quando o <details> está aberto */
}